In [1]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Loading csv into pandas
data = pd.read_csv("data.csv")
data

,State or Territory,Industry division,Sex,Age group,4-Jan-20,11-Jan-20,18-Jan-20,25-Jan-20,1-Feb-20,8-Feb-20,...,4-Jul-20,11-Jul-20,18-Jul-20,25-Jul-20,1-Aug-20,8-Aug-20,15-Aug-20,22-Aug-20,29-Aug-20,5-Sep-20
0,0. Australia,0. All industries,0. Persons,0. All ages,92.8,95.2,96.7,97.5,98.0,98.7,...,96.3,96.5,96.4,96.4,96.5,96.2,96.1,95.9,95.6,95.5
1,0. Australia,0. All industries,0. Persons,1. Under 20,85.6,88.2,90.3,92.6,94.7,96.9,...,98.2,98.8,98.5,98.7,99.0,96.8,96.2,96.2,96.1,97.3
2,0. Australia,0. All industries,0. Persons,2. 20-29,91.3,94.1,96.1,97.1,97.5,98.1,...,93.5,94.0,93.9,93.9,94.0,93.9,93.7,93.6,93.3,93.3
3,0. Australia,0. All industries,0. Persons,3. 30-39,93.7,96.0,97.3,97.9,98.3,98.8,...,96.8,97.3,97.3,97.3,97.3,97.2,97.1,96.9,96.7,96.6
4,0. Australia,0. All industries,0. Persons,4. 40-49,93.8,95.9,97.1,97.8,98.3,98.9,...,97.5,98.0,97.9,98.1,98.1,98.0,97.9,97.8,97.5,97.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4326,NaN,NaN,NaN,NaN,NA = Not available,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#data = data.dropna()
data['Age group'].unique()

array(['0. All ages', '1. Under 20', '2. 20-29', '3. 30-39', '4. 40-49',
       '5. 50-59', '6. 60-69', '7. 70 and over', nan], dtype=object)

In [4]:
# Renaming elements for easier referral in dataframe

# Removing integer in front of states
data["State or Territory"] = data["State or Territory"].replace({
    "0. Australia":"Australia",
    "1. NSW":"NSW",
    "2. VIC":"VIC",
    "3. QLD":"QLD",
    "4. SA":"SA",
    "5. WA":"WA",
    "6. TAS":"TAS",
    "7. NT":"NT",
    "8. ACT":"ACT"
})

# Removing integers in front of industries
data["Industry division"] = data["Industry division"].replace({
    "0. All industries":"All Industries",
    "01. A-Agriculture, forestry & fishing":"Agriculture, forestry & fishing",
    "02. B-Mining":"Mining",
    "03. C-Manufacturing":"Manufacturing",
    "04. D-Electricity, gas, water & waste services":"Electricity, gas, water & waste services",
    "05. E-Construction":"Construction",
    "06. F-Wholesale trade":"Wholesale trade",
    "07. G-Retail trade":"Retail trade",
    "08. H-Accommodation & food services":"Accommodation & food services",
    "09. I-Transport, postal & warehousing":"Transport, postal & warehousing",
    "10. J-Information media & telecommunications":"Information media & telecommunications",
    "11. K-Financial & insurance services":"Financial & insurance services",
    "12. L-Rental, hiring & real estate services":"Rental, hiring & real estate services",
    "13. M-Professional, scientific & technical services":"Professional, scientific & technical services",
    "14. N-Administrative & support services":"Administrative & support services",
    "15. O-Public administration & safety":"Public administration & safety",
    "16. P-Education & training":"Education & training",
    "17. Q-Health care & social assistance":"Health care & social assistance",
    "18. R-Arts & recreation services":"Arts & recreation services",
    "19. S-Other services":"Other services"  
})

# Removing integers in front of genders
data["Sex"] = data["Sex"].replace({
    "0. Persons":"Other",
    "1. Males":"Males",
    "2. Females":"Females"
})

# Removing integers in front of ages
data["Age group"] = data["Age group"].replace({
    "0. All ages":"All ages",
    "1. Under 20":"Under 20",
    "2. 20-29":"20-29",
    "3. 30-39":"30-39",
    "4. 40-49":"40-49",
    "5. 50-59":"50-59",
    "6. 60-69":"60-69",
    "7. 70 and over":"70 and over"
})

In [5]:
# Removing any nan values within the data frame
data = data.dropna()
data

,State or Territory,Industry division,Sex,Age group,4-Jan-20,11-Jan-20,18-Jan-20,25-Jan-20,1-Feb-20,8-Feb-20,...,4-Jul-20,11-Jul-20,18-Jul-20,25-Jul-20,1-Aug-20,8-Aug-20,15-Aug-20,22-Aug-20,29-Aug-20,5-Sep-20
0,Australia,All Industries,Other,All ages,92.8,95.2,96.7,97.5,98.0,98.7,...,96.3,96.5,96.4,96.4,96.5,96.2,96.1,95.9,95.6,95.5
1,Australia,All Industries,Other,Under 20,85.6,88.2,90.3,92.6,94.7,96.9,...,98.2,98.8,98.5,98.7,99.0,96.8,96.2,96.2,96.1,97.3
2,Australia,All Industries,Other,20-29,91.3,94.1,96.1,97.1,97.5,98.1,...,93.5,94.0,93.9,93.9,94.0,93.9,93.7,93.6,93.3,93.3
3,Australia,All Industries,Other,30-39,93.7,96.0,97.3,97.9,98.3,98.8,...,96.8,97.3,97.3,97.3,97.3,97.2,97.1,96.9,96.7,96.6
4,Australia,All Industries,Other,40-49,93.8,95.9,97.1,97.8,98.3,98.9,...,97.5,98.0,97.9,98.1,98.1,98.0,97.9,97.8,97.5,97.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4280,ACT,Arts & recreation services,Males,All ages,89.3,93.9,96.3,91.7,93.0,101.9,...,86.6,89.7,90.3,91.5,92.4,93.5,93.8,93.0,91.9,82.8
4288,ACT,Arts & recreation services,Females,All ages,85.8,91.8,95.7,94.7,96.2,103.6,...,84.7,89.5,91.2,93.5,94.9,95.8,96.5,96.7,96.6,91.9
4296,ACT,Other services,Other,All ages,94.7,96.8,99.0,99.2,99.2,100.9,...,100.6,101.9,102.1,102.4,101.5,101.4,101.6,101.4,101.3,101.1
4304,ACT,Other services,Males,All ages,97.2,99.6,101.8,101.9,101.8,102.8,...,101.0,103.6,104.3,104.6,103.3,102.5,102.6,102.0,102.4,101.9
4312,ACT,Other services,Females,All ages,93.6,95.2,97.7,97.9,97.9,99.7,...,99.2,99.6,99.5,99.8,99.2,99.7,100.0,99.9,99.2,98.9

In [6]:
# Checking all unique industry names
data["Industry division"].unique()

array(['All Industries', 'Agriculture, forestry & fishing', 'Mining',
       'Manufacturing', 'Electricity, gas, water & waste services',
       'Construction', 'Wholesale trade', 'Retail trade',
       'Accommodation & food services', 'Transport, postal & warehousing',
       'Information media & telecommunications',
       'Financial & insurance services',
       'Rental, hiring & real estate services',
       'Professional, scientific & technical services',
       'Administrative & support services',
       'Public administration & safety', 'Education & training',
       'Health care & social assistance', 'Arts & recreation services',
       'Other services'], dtype=object)

In [7]:
# Extracting data for Australia only from original dataframe
australia_df = data.loc[data['State or Territory'] == "Australia"]
australia_df

,State or Territory,Industry division,Sex,Age group,4-Jan-20,11-Jan-20,18-Jan-20,25-Jan-20,1-Feb-20,8-Feb-20,...,4-Jul-20,11-Jul-20,18-Jul-20,25-Jul-20,1-Aug-20,8-Aug-20,15-Aug-20,22-Aug-20,29-Aug-20,5-Sep-20
0,Australia,All Industries,Other,All ages,92.8,95.2,96.7,97.5,98.0,98.7,...,96.3,96.5,96.4,96.4,96.5,96.2,96.1,95.9,95.6,95.5
1,Australia,All Industries,Other,Under 20,85.6,88.2,90.3,92.6,94.7,96.9,...,98.2,98.8,98.5,98.7,99.0,96.8,96.2,96.2,96.1,97.3
2,Australia,All Industries,Other,20-29,91.3,94.1,96.1,97.1,97.5,98.1,...,93.5,94.0,93.9,93.9,94.0,93.9,93.7,93.6,93.3,93.3
3,Australia,All Industries,Other,30-39,93.7,96.0,97.3,97.9,98.3,98.8,...,96.8,97.3,97.3,97.3,97.3,97.2,97.1,96.9,96.7,96.6
4,Australia,All Industries,Other,40-49,93.8,95.9,97.1,97.8,98.3,98.9,...,97.5,98.0,97.9,98.1,98.1,98.0,97.9,97.8,97.5,97.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,Australia,Other services,Other,50-59,92.7,95.4,97.1,98.4,99.1,98.8,...,98.9,99.0,98.7,99.0,98.9,98.8,98.7,97.8,97.4,97.6
462,Australia,Other services,Other,60-69,93.8,96.4,98.1,99.1,99.7,99.6,...,97.9,97.7,97.5,97.5,97.2,97.2,96.9,95.8,95.6,95.8
463,Australia,Other services,Other,70 and over,93.3,95.4,97.1,98.2,99.3,98.3,...,95.4,95.0,94.6,94.8,94.6,92.9,91.7,90.3,90.1,89.5
464,Australia,Other services,Males,All ages,92.8,96.4,98.4,99.1,99.4,99.0,...,98.3,98.0,97.7,97.6,97.2,96.8,96.6,95.8,95.3,94.9
472,Australia,Other services,Females,All ages,91.2,94.0,95.8,97.0,97.9,98.3,...,96.5,95.8,95.4,95.7,95.2,94.9,94.6,93.9,93.5,93.3

In [8]:
# Extracting data for all industries in Australia from original dataframe
australia_all_industries = australia_df.loc[australia_df["Industry division"] == "All Industries"]
australia_all_industries

,State or Territory,Industry division,Sex,Age group,4-Jan-20,11-Jan-20,18-Jan-20,25-Jan-20,1-Feb-20,8-Feb-20,...,4-Jul-20,11-Jul-20,18-Jul-20,25-Jul-20,1-Aug-20,8-Aug-20,15-Aug-20,22-Aug-20,29-Aug-20,5-Sep-20
0,Australia,All Industries,Other,All ages,92.8,95.2,96.7,97.5,98.0,98.7,...,96.3,96.5,96.4,96.4,96.5,96.2,96.1,95.9,95.6,95.5
1,Australia,All Industries,Other,Under 20,85.6,88.2,90.3,92.6,94.7,96.9,...,98.2,98.8,98.5,98.7,99.0,96.8,96.2,96.2,96.1,97.3
2,Australia,All Industries,Other,20-29,91.3,94.1,96.1,97.1,97.5,98.1,...,93.5,94.0,93.9,93.9,94.0,93.9,93.7,93.6,93.3,93.3
3,Australia,All Industries,Other,30-39,93.7,96.0,97.3,97.9,98.3,98.8,...,96.8,97.3,97.3,97.3,97.3,97.2,97.1,96.9,96.7,96.6
4,Australia,All Industries,Other,40-49,93.8,95.9,97.1,97.8,98.3,98.9,...,97.5,98.0,97.9,98.1,98.1,98.0,97.9,97.8,97.5,97.5
5,Australia,All Industries,Other,50-59,94.2,96.4,97.7,98.3,98.7,99.2,...,97.5,97.8,97.8,97.9,98.0,97.9,97.8,97.6,97.3,97.4
6,Australia,All Industries,Other,60-69,94.3,96.4,97.5,98.2,98.7,99.3,...,95.7,95.3,95.0,95.1,95.1,94.9,94.7,94.4,94.2,94.2
7,Australia,All Industries,Other,70 and over,91.2,93.2,94.2,95.7,97.1,98.5,...,92.6,91.1,90.4,90.5,90.6,89.9,89.8,89.5,89.3,88.9
8,Australia,All Industries,Males,All ages,92.9,96.0,97.7,98.4,98.6,99.1,...,95.8,96.3,96.2,96.2,96.1,95.8,95.6,95.5,95.1,95.0
9,Australia,All Industries,Males,Under 20,87.4,90.5,92.7,94.6,96.5,98.5,...,97.3,97.2,96.6,96.5,96.5,94.3,93.5,93.4,93.0,94.0
10,Australia,All Industries,Males,20-29,90.7,94.4,96.7,97.6,97.9,98.5,...,93.6,94.2,93.9,93.9,93.9,93.8,93.5,93.6,93.2,93.3
11,Australia,All Industries,Males,30-39,94,96.8,98.4,98.9,99.0,99.2,...,96.0,96.9,96.9,96.9,96.7,96.5,96.4,96.3,96.0,95.8
12,Australia,All Industries,Males,40-49,94.3,96.9,98.2,98.8,98.9,99.2,...,96.8,97.7,97.7,97.8,97.7,97.5,97.4,97.3,97.0,96.8
13,Australia,All Industries,Males,50-59,94.1,96.8,98.2,98.7,98.9,99.3,...,96.9,97.7,97.7,97.9,97.8,97.6,97.5,97.4,97.1,97.0
14,Australia,All Industries,Males,60-69,93.5,96.3,97.7,98.4,98.8,99.4,...,95.2,95.3,95.1,95.2,95.1,94.9,94.8,94.6,94.2,94.1
15,Australia,All Industries,Males,70 and over,90.5,92.6,94.0,95.5,97.0,98.5,...,92.7,91.4,90.8,91.0,91.1,90.3,90.1,89.8,89.7,89.3
16,Australia,All Industries,Females,All ages,93.5,95.3,96.5,97.3,98.0,98.8,...,96.6,96.5,96.3,96.4,96.5,96.3,96.1,95.9,95.7,95.7
17,Australia,All Industries,Females,Under 20,90.3,92.0,93.8,95.6,97.3,99.2,...,94.3,94.8,94.3,94.4,94.4,92.2,91.5,91.3,91.0,91.9
18,Australia,All Industries,Females,20-29,92.9,94.8,96.5,97.4,97.8,98.4,...,93.7,94.1,94.1,94.0,94.1,94.0,93.9,93.7,93.5,93.4
19,Australia,All Industries,Females,30-39,94.1,95.7,96.7,97.4,97.9,98.6,...,97.4,97.6,97.5,97.5,97.6,97.6,97.5,97.3,97.1,97.1
20,Australia,All Industries,Females,40-49,93.5,95.1,96.1,96.9,97.7,98.6,...,98.2,98.1,98.0,98.3,98.5,98.4,98.3,98.2,98.0,98.2
21,Australia,All Industries,Females,50-59,94.4,96.2,97.2,98.0,98.6,99.2,...,98.1,97.9,97.8,98.0,98.2,98.1,98.0,97.8,97.6,97.8
22,Australia,All Industries,Females,60-69,95.1,96.5,97.3,98.0,98.6,99.3,...,96.2,95.3,94.9,94.9,95.1,94.8,94.7,94.3,94.1,94.4
23,Australia,All Industries,Females,70 and over,92.1,93.9,94.5,95.9,97.2,98.5,...,92.3,90.7,89.7,89.8,90.0,89.4,89.4,89.0,88.9,88.5

In [9]:
# Combining industry division, gender and age group into a single group column
australia_df["Group"] = australia_df["Industry division"] + "_" + australia_df["Sex"] + "_" + australia_df["Age group"]

C:\Users\User\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
# Replacing the age group with combined groups
australia_df["Age group"] = australia_df["Group"]

C:\Users\User\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
australia_df

,State or Territory,Industry division,Sex,Age group,4-Jan-20,11-Jan-20,18-Jan-20,25-Jan-20,1-Feb-20,8-Feb-20,...,11-Jul-20,18-Jul-20,25-Jul-20,1-Aug-20,8-Aug-20,15-Aug-20,22-Aug-20,29-Aug-20,5-Sep-20,Group
0,Australia,All Industries,Other,All Industries_Other_All ages,92.8,95.2,96.7,97.5,98.0,98.7,...,96.5,96.4,96.4,96.5,96.2,96.1,95.9,95.6,95.5,All Industries_Other_All ages
1,Australia,All Industries,Other,All Industries_Other_Under 20,85.6,88.2,90.3,92.6,94.7,96.9,...,98.8,98.5,98.7,99.0,96.8,96.2,96.2,96.1,97.3,All Industries_Other_Under 20
2,Australia,All Industries,Other,All Industries_Other_20-29,91.3,94.1,96.1,97.1,97.5,98.1,...,94.0,93.9,93.9,94.0,93.9,93.7,93.6,93.3,93.3,All Industries_Other_20-29
3,Australia,All Industries,Other,All Industries_Other_30-39,93.7,96.0,97.3,97.9,98.3,98.8,...,97.3,97.3,97.3,97.3,97.2,97.1,96.9,96.7,96.6,All Industries_Other_30-39
4,Australia,All Industries,Other,All Industries_Other_40-49,93.8,95.9,97.1,97.8,98.3,98.9,...,98.0,97.9,98.1,98.1,98.0,97.9,97.8,97.5,97.5,All Industries_Other_40-49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,Australia,Other services,Other,Other services_Other_50-59,92.7,95.4,97.1,98.4,99.1,98.8,...,99.0,98.7,99.0,98.9,98.8,98.7,97.8,97.4,97.6,Other services_Other_50-59
462,Australia,Other services,Other,Other services_Other_60-69,93.8,96.4,98.1,99.1,99.7,99.6,...,97.7,97.5,97.5,97.2,97.2,96.9,95.8,95.6,95.8,Other services_Other_60-69
463,Australia,Other services,Other,Other services_Other_70 and over,93.3,95.4,97.1,98.2,99.3,98.3,...,95.0,94.6,94.8,94.6,92.9,91.7,90.3,90.1,89.5,Other services_Other_70 and over
464,Australia,Other services,Males,Other services_Males_All ages,92.8,96.4,98.4,99.1,99.4,99.0,...,98.0,97.7,97.6,97.2,96.8,96.6,95.8,95.3,94.9,Other services_Males_All ages
472,Australia,Other services,Females,Other services_Females_All ages,91.2,94.0,95.8,97.0,97.9,98.3,...,95.8,95.4,95.7,95.2,94.9,94.6,93.9,93.5,93.3,Other services_Females_All ages

In [12]:
# Removing individual unwanted columns
del australia_df["State or Territory"]

In [13]:
# Removing individual unwanted columns
del australia_df["Industry division"]

In [14]:
# Removing individual unwanted columns
del australia_df["Sex"]

In [15]:
# Removing individual unwanted columns
del australia_df["Group"]

In [16]:
# Renaming combined column into groups
australia_df = australia_df.rename(columns={
    "Age group":"Group"
})

In [17]:
australia_df

,Group,4-Jan-20,11-Jan-20,18-Jan-20,25-Jan-20,1-Feb-20,8-Feb-20,15-Feb-20,22-Feb-20,29-Feb-20,...,4-Jul-20,11-Jul-20,18-Jul-20,25-Jul-20,1-Aug-20,8-Aug-20,15-Aug-20,22-Aug-20,29-Aug-20,5-Sep-20
0,All Industries_Other_All ages,92.8,95.2,96.7,97.5,98.0,98.7,99.2,99.3,99.3,...,96.3,96.5,96.4,96.4,96.5,96.2,96.1,95.9,95.6,95.5
1,All Industries_Other_Under 20,85.6,88.2,90.3,92.6,94.7,96.9,98.2,96.9,96.0,...,98.2,98.8,98.5,98.7,99.0,96.8,96.2,96.2,96.1,97.3
2,All Industries_Other_20-29,91.3,94.1,96.1,97.1,97.5,98.1,98.7,99.0,99.1,...,93.5,94.0,93.9,93.9,94.0,93.9,93.7,93.6,93.3,93.3
3,All Industries_Other_30-39,93.7,96.0,97.3,97.9,98.3,98.8,99.3,99.4,99.5,...,96.8,97.3,97.3,97.3,97.3,97.2,97.1,96.9,96.7,96.6
4,All Industries_Other_40-49,93.8,95.9,97.1,97.8,98.3,98.9,99.3,99.4,99.4,...,97.5,98.0,97.9,98.1,98.1,98.0,97.9,97.8,97.5,97.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,Other services_Other_50-59,92.7,95.4,97.1,98.4,99.1,98.8,99.1,99.6,100.2,...,98.9,99.0,98.7,99.0,98.9,98.8,98.7,97.8,97.4,97.6
462,Other services_Other_60-69,93.8,96.4,98.1,99.1,99.7,99.6,99.6,99.8,100.3,...,97.9,97.7,97.5,97.5,97.2,97.2,96.9,95.8,95.6,95.8
463,Other services_Other_70 and over,93.3,95.4,97.1,98.2,99.3,98.3,97.8,97.8,97.9,...,95.4,95.0,94.6,94.8,94.6,92.9,91.7,90.3,90.1,89.5
464,Other services_Males_All ages,92.8,96.4,98.4,99.1,99.4,99.0,99.3,99.5,100.2,...,98.3,98.0,97.7,97.6,97.2,96.8,96.6,95.8,95.3,94.9
472,Other services_Females_All ages,91.2,94.0,95.8,97.0,97.9,98.3,98.9,99.5,100.2,...,96.5,95.8,95.4,95.7,95.2,94.9,94.6,93.9,93.5,93.3

In [18]:
# Checking transposed data
australia_df.T.head()

,0,1,2,3,4,5,6,7,8,9,...,456,457,458,459,460,461,462,463,464,472
Group,All Industries_Other_All ages,All Industries_Other_Under 20,All Industries_Other_20-29,All Industries_Other_30-39,All Industries_Other_40-49,All Industries_Other_50-59,All Industries_Other_60-69,All Industries_Other_70 and over,All Industries_Males_All ages,All Industries_Males_Under 20,...,Other services_Other_All ages,Other services_Other_Under 20,Other services_Other_20-29,Other services_Other_30-39,Other services_Other_40-49,Other services_Other_50-59,Other services_Other_60-69,Other services_Other_70 and over,Other services_Males_All ages,Other services_Females_All ages
4-Jan-20,92.8,85.6,91.3,93.7,93.8,94.2,94.3,91.2,92.9,87.4,...,91.4,75.1,90.8,93,92.3,92.7,93.8,93.3,92.8,91.2
11-Jan-20,95.2,88.2,94.1,96,95.9,96.4,96.4,93.2,96,90.5,...,94.7,83.2,94.6,96,94.8,95.4,96.4,95.4,96.4,94
18-Jan-20,96.7,90.3,96.1,97.3,97.1,97.7,97.5,94.2,97.7,92.7,...,96.7,88.4,96.8,97.6,96.4,97.1,98.1,97.1,98.4,95.8
25-Jan-20,97.5,92.6,97.1,97.9,97.8,98.3,98.2,95.7,98.4,94.6,...,97.7,91.3,97.3,98.6,97.7,98.4,99.1,98.2,99.1,97

In [20]:
# Creating a transposed dataframe of Australia data
australia_df_t = australia_df.T

In [21]:
# Cleaning transposed dataframe
# Grabing the first row for the header
new_header = australia_df_t.iloc[0]

# Taking the data less the header row
australia_df_t = australia_df_t[1:] 

# Setting the header row as the df header
australia_df_t.columns = new_header

In [22]:
australia_df_t.head()

Group,All Industries_Other_All ages,All Industries_Other_Under 20,All Industries_Other_20-29,All Industries_Other_30-39,All Industries_Other_40-49,All Industries_Other_50-59,All Industries_Other_60-69,All Industries_Other_70 and over,All Industries_Males_All ages,All Industries_Males_Under 20,...,Other services_Other_All ages,Other services_Other_Under 20,Other services_Other_20-29,Other services_Other_30-39,Other services_Other_40-49,Other services_Other_50-59,Other services_Other_60-69,Other services_Other_70 and over,Other services_Males_All ages,Other services_Females_All ages
4-Jan-20,92.8,85.6,91.3,93.7,93.8,94.2,94.3,91.2,92.9,87.4,...,91.4,75.1,90.8,93,92.3,92.7,93.8,93.3,92.8,91.2
11-Jan-20,95.2,88.2,94.1,96,95.9,96.4,96.4,93.2,96,90.5,...,94.7,83.2,94.6,96,94.8,95.4,96.4,95.4,96.4,94
18-Jan-20,96.7,90.3,96.1,97.3,97.1,97.7,97.5,94.2,97.7,92.7,...,96.7,88.4,96.8,97.6,96.4,97.1,98.1,97.1,98.4,95.8
25-Jan-20,97.5,92.6,97.1,97.9,97.8,98.3,98.2,95.7,98.4,94.6,...,97.7,91.3,97.3,98.6,97.7,98.4,99.1,98.2,99.1,97
1-Feb-20,98,94.7,97.5,98.3,98.3,98.7,98.7,97.1,98.6,96.5,...,98.3,93.4,97.8,98.7,98.6,99.1,99.7,99.3,99.4,97.9

In [23]:
# Filtering by elements check
australia_df_t.columns.str.contains("Male") & australia_df_t.columns.str.contains("Female")

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [24]:
# Filtering data by elements, replace a and b with desired elements
# add & australia_df_t.columns.str.contains(c) for additional filtering
a = "Mining"
b = "Female"
australia_df_t.loc[:, (australia_df_t.columns.str.contains(a) & australia_df_t.columns.str.contains(b))]

Group     Mining_Females_All ages
4-Jan-20                     94.1
11-Jan-20                    94.9
18-Jan-20                    95.1
25-Jan-20                    95.3
1-Feb-20                     95.6
8-Feb-20                     96.9
15-Feb-20                    97.4
22-Feb-20                    97.5
29-Feb-20                    97.2
7-Mar-20                     99.8
14-Mar-20                     100
21-Mar-20                    99.3
28-Mar-20                      99
4-Apr-20                     93.1
11-Apr-20                    89.5
18-Apr-20                    89.4
25-Apr-20                    89.4
2-May-20                     89.9
9-May-20                     92.1
16-May-20                    92.5
23-May-20                    92.7
30-May-20                    92.7
6-Jun-20                     95.4
13-Jun-20                    96.1
20-Jun-20                    95.5
27-Jun-20                    95.9
4-Jul-20                       98
11-Jul-20                    99.7
18-Jul-20                    99.2
25-Jul-20                    99.1
1-Aug-20                     98.8
8-Aug-20                     98.7
15-Aug-20                    98.8
22-Aug-20                    98.7
29-Aug-20                    98.7
5-Sep-20                     98.5